:root {
  --green: #0da192;
  --green-light: #14bdac;
  --green-dark: #0c8f82;
  --white: #f2ebd3;
  --white-dark: #e0d9c3;
  --black: #424242;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 400;
  color: var(--white);
  background-color: var(--green);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Components */
.btn {
  font-family: system-ui, sans-serif;
  padding: 0.75rem 1.25rem;
  background-color: var(--white);
  border: 2px solid var(--white);
  box-shadow: 0 4px 0 var(--green-dark);
  color: var(--black);
  border-radius: 0.25rem;
  text-transform: uppercase;
  transition:
    box-shadow 0.1s ease-in-out,
    transform 0.1s ease-in-out,
    border 0.1s ease-in-out,
    background-color 0.1s ease-in-out;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--white-dark);
  border-color: var(--white-dark);
}

.btn:active {
  box-shadow: 0 2px 0 var(--green);
  transform: translateY(2px);
}

.btn-reset {
  margin-top: 3rem;
}

/* Main */
.main {
  text-align: center;
  padding-top: 3rem;
}

.main__title {
  color: var(--white);
  margin-bottom: 1rem;
  text-shadow: 4px 4px 0px var(--green);
  text-transform: uppercase;
  font-weight: 800;
}

.container {
  width: 80%;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.square {
  aspect-ratio: 1/1;
  border: 4px solid var(--green-dark);
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 2.5rem;
}

.square.is-selected {
  background: var(--white);
  box-shadow: 0 3px 0 var(--green);
}

.turn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem 0.5rem;
  margin: 3rem 0;
}

.turn__title {
  flex: 1 0 100%;
  font-size: 1rem;
}

.turn .square,
.dialog .square {
  pointer-events: none;
  border-color: transparent;
}

.turn .square {
  border-radius: 0.25rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
}

.board {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

.board .square:nth-child(-n+3) {
  border-top: 0;
}

.board .square:nth-last-child(-n+3) {
  border-bottom: 0;
}

.board .square:nth-child(3n+1) {
  border-left: 0;
}

.board .square:nth-child(3n+3) {
  border-right: 0;
}

@keyframes show {
  0% {
    opacity: 0;
  }
}

.dialog {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  animation: show 500ms ease;
}

.dialog__box {
  background: var(--white);
  color: var(--black);
  min-height: 20rem;
  width: 90%;
  max-width: 30rem;
  box-shadow: 0 4px 0 var(--white-dark);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  animation: show 500ms ease;
}

.dialog .square {
  width: 4.5rem;
  height: 4.5rem;
}

.dialog .win {
  margin: 0 auto;
  width: fit-content;
  border: 2px solid var(--green);
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
}

.dialog .btn {
  margin-top: 1.5rem;
  background-color: var(--green-light);
  border-color: var(--green-light);
  color: var(--white);
}

.dialog .btn:hover {
  background-color: var(--green);
  border-color: var(--green);
  box-shadow: 0 4px 0 var(--green-dark);
}

.dialog .btn:active {
  box-shadow: 0 2px 0 var(--green-dark);
}
